In [1]:
#import dependencies
import pandas as pd 
import scipy as scipy
import numpy as np 
import matplotlib as plt

In [2]:
rockford_data = pd.read_csv('Resources/Cleaned_Rockford.csv')
rockford_data.head()

,Unnamed: 0,X,Y,Occurred Date,Description,year
0,0,-89.124354,42.284104,20160125,90C - Disorderly Conduct,2016
1,1,-89.070417,42.254735,20160205,90C - Disorderly Conduct,2016
2,2,-89.042083,42.238147,20160209,13B - Simple Assault,2016
3,3,-89.029085,42.241433,20160210,290 - Destruction/Damage/Vandalism of Property,2016
4,4,-89.029201,42.211097,20160206,23H - All Other Larceny,2016

In [3]:
trimmed_rockford = rockford_data.dropna()
len(trimmed_rockford)

194128

In [4]:
rockford_data.sort_values(by=["year"], inplace = True)
rockford_data

,Unnamed: 0,X,Y,Occurred Date,Description,year
17069,17069,-89.071063,42.225996,20110404,290 - Destruction/Damage/Vandalism of Property,2011
15726,15726,-88.982039,42.272071,20110430,290 - Destruction/Damage/Vandalism of Property,2011
15725,15725,-88.995567,42.298990,20110430,13B - Simple Assault,2011
15724,15724,-89.103151,42.294966,20110430,35B - Drug Equipment Violations,2011
15723,15723,-89.103151,42.294966,20110430,35A - Drug/narcotic Violations,2011
...,...,...,...,...,...,...
190883,190883,-89.106702,42.281239,20200211,13A - Aggravated Assault,2020
190882,190882,-89.106702,42.281239,20200211,90J - Trespass of Real Property,2020
190881,190881,-89.095103,42.271073,20200211,90J - Trespass of Real Property,2020
190887,190887,-89.092193,42.230485,20200213,90C - Disorderly Conduct,2020
190742,190742,-89.094258,42.272608,20200211,23C - Shoplifting,2020

In [5]:
cleaned_rockford = rockford_data[['Description', 'year', 'Occurred Date', 'X', 'Y']]
cleaned_rockford.head()

,Description,year,Occurred Date,X,Y
17069,290 - Destruction/Damage/Vandalism of Property,2011,20110404,-89.071063,42.225996
15726,290 - Destruction/Damage/Vandalism of Property,2011,20110430,-88.982039,42.272071
15725,13B - Simple Assault,2011,20110430,-88.995567,42.298990
15724,35B - Drug Equipment Violations,2011,20110430,-89.103151,42.294966
15723,35A - Drug/narcotic Violations,2011,20110430,-89.103151,42.294966

In [6]:
cleaned_rockford.rename(columns={"Description": "Crime"}, inplace = True)

In [7]:
cleaned_rockford

,Crime,year,Occurred Date,X,Y
17069,290 - Destruction/Damage/Vandalism of Property,2011,20110404,-89.071063,42.225996
15726,290 - Destruction/Damage/Vandalism of Property,2011,20110430,-88.982039,42.272071
15725,13B - Simple Assault,2011,20110430,-88.995567,42.298990
15724,35B - Drug Equipment Violations,2011,20110430,-89.103151,42.294966
15723,35A - Drug/narcotic Violations,2011,20110430,-89.103151,42.294966
...,...,...,...,...,...
190883,13A - Aggravated Assault,2020,20200211,-89.106702,42.281239
190882,90J - Trespass of Real Property,2020,20200211,-89.106702,42.281239
190881,90J - Trespass of Real Property,2020,20200211,-89.095103,42.271073
190887,90C - Disorderly Conduct,2020,20200213,-89.092193,42.230485
190742,23C - Shoplifting,2020,20200211,-89.094258,42.272608